<div class="main-content">
    <div class="container-fluid" style="padding-top: 40px;">

        <div class="col-md-12">
            <app-http-errors></app-http-errors>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="header text-center">
                    <h4 class="title">Connectez-vous avecc</h4>
                </div>
                <div class="content text-center">
                    <button href="#" class="btn btn-simple"
                            style="
                                    background: #222;
                                    border: #222;
                                    border-radius: 50%;
                                    font-size: 23px;
                                    color: #fff;
                                    height: 50px;
                                    width: 50px;
                                    margin: 30px;
                                "
                    ><i class="fa fa-facebook-square"></i></button>
                    <button href="#" class="btn btn-simple"
                            style="
                                background: #FF4A55;
                                border:#FF4A55;
                                border-radius: 50%;
                                font-size: 23px;
                                color: #fff;
                                height: 50px;
                                width: 50px;
                            "
                    ><i class="fa fa-twitter"></i></button>
                    <button href="#" class="btn btn-simple"
                            style="
                            background: #3472f7;
                            border: #3472f7;
                            border-radius: 50%;
                            font-size: 23px;
                            color: #fff;
                            height: 50px;
                            width: 50px;
                            margin: 30px;
                        "
                    ><i class="fa fa-google-plus-square"></i></button>
                    <br>
                    Ou alors
                    <hr>
                </div>
                <div class="content">
                    <app-login-form></app-login-form>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="header">
                    <h4 class="title">S'inscrire</h4>
                </div>
                <div class="content">
                   <app-registration-form></app-registration-form>
                </div>
            </div>
        </div>
    </div>
</div>
