<div class="main-content" >

    <div class="container-fluid text-capitalize">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h3 class="title">Actualité de la CASAM</h3>
                    </div>
                    <div class="content">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="assets/img/news/4.jpg" alt="" class="img-fluid">
                                <a href="">Le monument de douala</a>
                            </div>
                            <div class="col-md-6">
                                <img src="assets/img/news/05.jpg" alt="" class="img-fluid">
                                <a href="">Le monument de la réunification</a>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="assets/img/news/1.jpg" alt="" class="img-fluid"> <br>
                                        <a href="">Le monument de la réunification</a>
                                    </div>
                                    <div class="col-md-6">
                                        <img src="assets/img/news/2.jpg" alt="" class="img-fluid"> <br>
                                        <a href="">Le monument de la réunification</a>
                                    </div>
                                    <div class="col-md-12">
                                        <img src="assets/img/news/3.jpg" alt="" class="img-fluid"> <br>
                                        <a href="">Le monument de la réunification</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
