<div class="row">
    <form (ngSubmit)="handleSubmit()">
        <div class="col-md-12 form-group ">
            <label for="files" >Selectionner un ou plusieurs fichiers</label>
            <input id="files" type="text" name="files"   class="form-control" [(ngModel)]="formData.id" >
            <p class="text-muted">
                * liste des pièces jointes
                * N'apparait que si un fichier est join
                * Nom du fichier X
            </p>
        </div>
        <div class="col-md-12 form-group ">
            <label for="message">SERVICE D'ASSISTANCE</label>
            <textarea [(ngModel)]="formData.message"  id="message" name="message"   class="form-control" style="height: 220px"
            >La CASAM peut éffectuer des tâches et services pour ses membre.Expliquez votre requette et si nécessaire insérez les documents néccessaire.

                                 Cordialement

                                                          Renseignement, Démarche au près de l'ambassade sur Rabat etc ...
                                </textarea>
        </div>
        <div class="col-md-12 form-group " >
            <button type="submit" class="btn btn-info btn-fill   ">Mettre a jour</button>
            <div class="clearfix"></div>
        </div>
    </form>
</div>
