<form>
    <div class="row">
        <div class="form-group col-md-3">
            <label for="avatar" >Photo</label>
            <input type="text" name="avatar" id="avatar" [(ngModel)]="formData.avatar"  class="form-control">
        </div>
        <div class="form-group col-md-3">
            <label for="born_at"  >Date d'anniversaire</label>
            <input type="date" name="avatar" id="born_at" [(ngModel)]="formData.born_at"   class="form-control">
        </div>
        <div class="form-group col-md-3">
            <label for="email"  >Email</label>
            <input type="email" name="email" id="email" [(ngModel)]="formData.email"    class="form-control">
        </div>
        <div class="form-group col-md-3">
            <label for="password"  >Mot de passe</label>
            <input type="password" name="avatar" id="password" [(ngModel)]="formData.password"  class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <label for="last_name"  >Prenom</label>
            <input type="text" name="last_name" id="last_name" [(ngModel)]="formData.last_name"    class="form-control">
        </div>
        <div class="form-group col-md-4">
            <label for="family_name"  >Nom de famille</label>
            <input type="text"name="family_name" id="family_name" [(ngModel)]="formData.family_name"    class="form-control">
        </div>
        <div class="form-group col-md-4">
            <label for="password_confirmation"  >Confirmation de mot de passe</label>
            <input type="password" name="password_confirmation" id="password_confirmation"
                   [(ngModel)]="formData.password_confirmation"    class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-info btn-fill   ">Mettre a jour</button>
        </div>
    </div>
</form>
