<div class="row">
    <div class="col-md-12"><h4 style="margin: 0;">Etablissement</h4></div>
    <div class="form-group col-md-6">
        <label>Etablissement</label>
        <select name=""   class="form-control">
            <option *ngFor="let school of userSchools" value="{{ school }}">
                {{ school.name }}
            </option>
        </select>
    </div>
    <div class="form-group col-md-6">
        <label>Note</label>
        <select name="" class="form-control">
            <option *ngFor="let i of [1,2,3,4,5]" value="{{i}}">
                {{ i }}
            </option>
        </select>
    </div>
    <div class="form-group col-md-6">
        <label>Nouvelle Ville (Si elle n'est pas renseignée) </label>
        <input type="text" name=""   class="form-control">
    </div>
    <div class="form-group col-md-6">
        <label>Ville</label>
        <select  name=""   class="form-control">
            <option *ngFor="let city of userCities" value="{{ city.id }}">
                {{ city.name }}
            </option>
        </select>
    </div>
    <div class="form-group col-md-12">
        <label>A propos de l'etablissement</label>
        <textarea  name=""   class="form-control"></textarea>
    </div>
    <div class="form-group col-md-12 text-center">
        <button type="submit" class="btn btn-info btn-fill   ">Mettre a jour</button>
        <div class="clearfix"></div>
    </div>
</div>
