<div class="card card-user">
    <div class="image">
        <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..."/>
    </div>
    <div class="content" style="min-height: 100px">
        <div class="author">
            <a href="#">
                <img class="avatar border-gray" src="assets/img/faces/face-3.jpg" alt="..."/>
                <h4 class="title">
                    {{ user.name }} <br />
                </h4>
            </a>
        </div>
        <p class="description text-center">  </p>
    </div>
    <table class="content table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ user.id}}</td>
            </tr>
            <tr>
                <th>NOM UTILISATEUR</th>
                <td>{{user.name}}</td>
            </tr>
            <tr>
                <th>EMAIL</th>
                <td>{{ user.email}}</td>
            </tr>
            <tr>
                <th>PRENOM</th>
                <td>{{ user.last_name}}</td>
            </tr>
            <tr>
                <th>NOM</th>
                <td>{{ user.family_name}}</td>
            </tr>
            <tr>
                <th>NAISSANCE</th>
                <td>{{ user.born_at}}</td>
            </tr>
            <tr>
                <th>GENRE</th>
                <td>{{ user.gender}}</td>
            </tr>
            <tr>
                <th>TELEPHONE</th>
                <td>{{ user.phone}}</td>
            </tr>
            <tr>
                <th>FACEBOOK</th>
                <td>{{ user.facebook_url}}</td>
            </tr>
            <tr>
                <th>TWEETER</th>
                <td>{{ user.tweeter_url}}</td>
            </tr>
        </tbody>
    </table>
    <hr>
    <div class="text-center">
        <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
        <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
    </div>
</div>
