body {
    background-color: #eee;
}

.img-fluid{
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    border-radius: 4px;
    transition: all .2s ease-in-out;
}

.box-fixed-height {
    min-height: 400px;
    overflow: auto;
}

.notification-messages-container{
    right: 20px;
    top: 70px;
    position: fixed;
    z-index: 99999;
    max-width: 500px ;
    height: 100%;
}
