<form>
    <div class="row">
        <div class="form-group col-md-3">
            <label>Photo</label>
            <input type="file" name=""   class="form-control">
        </div>
        <div class="form-group col-md-3">
            <label>Date d'anniversaire</label>
            <input type="date" name=""   class="form-control">
        </div>
        <div class="form-group col-md-3">
            <label>Email</label>
            <input type="email" name=""   class="form-control">
        </div>
        <div class="form-group col-md-3">
            <label>Mot de passe</label>
            <input type="password" name=""   class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <label>Prenom</label>
            <input type="text" name=""   class="form-control">
        </div>
        <div class="form-group col-md-4">
            <label>Nom de famille</label>
            <input type="text" name=""   class="form-control">
        </div>
        <div class="form-group col-md-4">
            <label>Confirmation de mot de passe</label>
            <input type="password" name=""   class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-info btn-fill   ">Mettre a jour</button>
        </div>
    </div>
</form>
