<div class="main-content">
    <div class="container-fluid  " style="padding-top: 70px;">
        <div *ngIf="errorMessages.length > 0  " class="col-md-12 alert alert-danger">
            <p class="m-0" *ngFor="let errorMessage of errorMessages">{{ errorMessage}}</p>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="header text-center">
                    <h4 class="title">Connectez-vous avec</h4>
                </div>
                <div class="content text-center">
                    <button href="#" class="btn btn-simple"
                            style="
                                    background: #222;
                                    border: #222;
                                    border-radius: 50%;
                                    font-size: 23px;
                                    color: #fff;
                                    height: 50px;
                                    width: 50px;
                                    margin: 30px;
                                "
                    ><i class="fa fa-facebook-square"></i></button>
                    <button href="#" class="btn btn-simple"
                            style="
                            background: #FF4A55;
                            border:#FF4A55;
                            border-radius: 50%;
                            font-size: 23px;
                            color: #fff;
                            height: 50px;
                            width: 50px;
                        "
                    ><i class="fa fa-twitter"></i></button>
                    <button href="#" class="btn btn-simple"
                            style="
                            background: #3472f7;
                            border: #3472f7;
                            border-radius: 50%;
                            font-size: 23px;
                            color: #fff;
                            height: 50px;
                            width: 50px;
                            margin: 30px;
                        "
                    ><i class="fa fa-google-plus-square"></i></button>
                    <br>
                    Ou alors
                    <hr>
                </div>
                <div class="content">
                    <form action="">
                        <div class="form-group">
                            <input #emailInput type="email" class="form-control" placeholder="E-mail" style="height: 60px;">
                        </div>
                        <div class="form-group">
                            <input #pwInput type="password" class="form-control " placeholder="Mot de passe"
                                   style="height: 60px;">
                        </div>
                        <button class="btn btn-primary btn-lg btn-fill" (click)="onLoginButtonClicked(emailInput.value, pwInput.value)" style="width: 100%;">CONNEXION
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="header">
                    <h4 class="title">S'inscrire</h4>
                </div>
                <div class="content">
                    <form>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label>Prenom</label>
                                <input type="text" class="form-control" #registrationLastNameInput>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Nom de famille</label>
                                <input type="text" class="form-control" #registrationFamilyName>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label>Date de naissance</label>
                                <input type="text" class="form-control" #registrationBornAt>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Genre</label>
                                <select name="" class="form-control" #registrationGender>
                                    <option value="m">Masculin</option>
                                    <option value="f">Feminin</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <label>Nom utilisateur</label>
                                <input type="text" class="form-control" #registrationName>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label>Email</label>
                                <input type="email" class="form-control" #registrationEmail>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Numero de telephone</label>
                                <input type="text" class="form-control" #registrationPhone>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label>Mot de passe</label>
                                <input type="password" class="form-control" #registrationPassword>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Confirmation de mot de passe</label>
                                <input type="password" class="form-control" #registrationConfirmationPassword>
                            </div>
                        </div>
                        <button
                                class="btn btn-primary btn-fill pull-left"
                                (click)="onRegistrationButtonClicked(
                                 registrationLastNameInput.value,
                                 registrationFamilyName.value,
                                 registrationBornAt.value,
                                 registrationGender.value,
                                 registrationName.value,
                                 registrationEmail.value,
                                 registrationPhone.value,
                                 registrationPassword.value,
                                 registrationConfirmationPassword.value
                                )"
                        >
                            Soumettre
                        </button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
