<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <app-charts-students-cities></app-charts-students-cities>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Problemes</h4>
                        <p class="category">Par ville</p>
                    </div>
                    <div class="content box-fixed-height">

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <app-charts-area-students-years></app-charts-area-students-years>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <app-charts-bar-students-schools></app-charts-bar-students-schools>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Problemes</h4>
                        <p class="category">Par etablissements</p>
                    </div>
                    <div class="content box-fixed-height">

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Notes d'établissements</h4>
                    </div>
                    <div class="content box-fixed-height">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
