<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Etudiants par villes</h4>
                    </div>
                    <div class="content box-fixed-height">

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Problemes</h4>
                        <p class="category">Par ville</p>
                    </div>
                    <div class="content box-fixed-height">

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Etudiant par années</h4>
                    </div>
                    <div class="content box-fixed-height">

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Etudiants par etablissements</h4>
                        <p>Anciens et nouveaux inscriptions</p>
                    </div>
                    <div class="content box-fixed-height">

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Problemes</h4>
                        <p class="category">Par etablissements</p>
                    </div>
                    <div class="content box-fixed-height">

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Notes d'établissements</h4>
                    </div>
                    <div class="content box-fixed-height">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
