<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">

                <div class="card">
                    <div class="header">
                        <h4 class="title">Mettre a jour le profil</h4>
                    </div>
                    <div class="content">
                       <app-profile-user></app-profile-user>
                    </div>
                </div>

                <div class="card">
                    <div class="header">
                        <h4 class="title">Informations additionnelles</h4>
                    </div>
                    <div class="content">
                        <div class="row">
                            <div class="col-md-6">
                                <app-profile-city></app-profile-city>
                            </div>
                            <div class="col-md-6">
                                <app-profile-school></app-profile-school>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="header">
                        <h4 class="title">Nous contacter</h4>
                        <p class="text-muted">CASAM NATIONNAL</p>
                    </div>
                    <div class="content">
                        <app-profile-request></app-profile-request>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
               <app-profile-info></app-profile-info>
            </div>
        </div>
    </div>
</div>
