<div class="row">
    <div class="col-md-12 form-group ">
        <label>Selectionner un ou plusieurs fichiers</label>
        <input type="file" name=""   class="form-control">
        <p class="text-muted">
            * liste des pièces jointes
            * N'apparait que si un fichier est join
            * Nom du fichier X
        </p>
    </div>
    <div class="col-md-12 form-group ">
        <label>SERVICE D'ASSISTANCE</label>
        <textarea name=""   class="form-control" style="height: 220px"
        >La CASAM peut éffectuer des tâches et services pour ses membre.Expliquez votre requette et si nécessaire insérez les documents néccessaire.

                                 Cordialement

                                                          Renseignement, Démarche au près de l'ambassade sur Rabat etc ...
                                </textarea>
    </div>
    <div class="col-md-12 form-group " >
        <button type="submit" class="btn btn-info btn-fill   ">Mettre a jour</button>
        <div class="clearfix"></div>
    </div>
</div>
